.DashboardComponent {
  width:90%;
  height:100%;
  background: #191c29;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width: 100%;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
  color:antiquewhite;
}

.DashboardComponent:hover {
  color: white;
  transition: color 1s;
}
.DashboardComponent:hover:before, .DashboardComponent:hover:after {
  animation: none;
  opacity: 0;
}


.DashboardComponent::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.DashboardComponent::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.UserLifespanDashboard {
  width:auto;
  height:auto;
  background:#993535;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width: 100%;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative
}

.ReportComponent {
  width:auto;
  height:auto;
  background: #191c29;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width: 100%;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
  text-align: left;
}

.square {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: red;
}



.Test{
  width: auto;
  padding: 2% 5%;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


